head{
}

body{
    border-style:solid;
    border-radius: 10px;
}
div{

}

h1{
    font-size: 65px;
    text-align: center;
    border-bottom-style: double;
    border-top-style:inset;
    border-left-style:inset;
    border-right-style: double;
    border-radius: 20px;
    border-color: black;
margin-left: 550px;
margin-right: 550px;
}

h2{
       font-size: 20px;
    text-align: center;
    border-bottom-style: double;
    border-top-style:inset;
    border-left-style:inset;
    border-right-style: double;
    border-radius: 10px;
    border-color: black;
    margin-top:-40px;
margin-left: 575px;
margin-right: 575px; 
}

h3{
    border-top-style: solid;
    border-bottom-style: double;
    border-right-style: double;
    border-left-style: solid;
    margin-left: 200px;
    margin-right: 1045px;
    border-radius: 7px
}

h4{
    
}

h5{
    
}

h6{
    
}

a{
    
}

p{
text-align: center;
font-family: cursive;  
}

img{
    margin-left: 550px;
    margin-right: auto;
    border-radius: 15px;
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: double;
    border-right-style: double;
    border-width: 4px;
    box-shadow: 0 0 5px #e6f5ff, 0 0 10px #e6f5ff, 0 0 20px #e6f5ff, 0 0 30px #e6f5ff, 0 0 40px #e6f5ff, 0 0 55px #e6f5ff, 0 0 75px #e6f5ff;

}
.fix_size{
    width: 220px;
    hight: 220px;
}
.stars_img1{
    margin-left:275px;
}
.stars_img2{
    margin-left: 350px;
    hight: 450px;
    width: 550px
}
.main_pg_img1{
    margin-left: 100px;
}
.main_pg_img2{
    hight: 210px;
    width: 310px;
    margin-top: -200px;
    margin-left: 200
}